<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>
<body>
<div class="container">
    <header class="heading">Настраиваем ёлку</header>
    <main class="main-container">
        <div class="chrms-tree-box">
            <img src="../images/christmas_tree.png" alt="christmas-tree" class="chrms-tree-img">
            <div class="btn-box">
                <div class="btn-up-down-box-desktop">
                    <button class="btn up"><i class="fas fa-chevron-up"></i></button>
                    <button class="btn down"><i class="fas fa-chevron-down"></i></button>
                </div>
                <div class="light-line-block">
                    <div class="front light-line-box">
                        <div class="front light-line">
                            <i class="fas fa-circle front-circle-light"></i>
                        </div>
                        <div class="btn-plus-minus-box">
                            <button class="btn minus"><i class="fas fa-minus"></i></button>
                            <button class="btn plus"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="back light-line-box">
                        <div class="back light-line">
                            <i class="fas fa-circle back-circle-light"></i>
                        </div>
                        <div class="btn-plus-minus-box">
                            <button class="btn minus"><i class="fas fa-minus"></i></button>
                            <button class="btn plus"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ending-box">
            <button class="ending-btn">Закончить</button>
            <div class="btn-up-down-box-phone">
                <button class="btn up"><i class="fas fa-chevron-up"></i></button>
                <button class="btn down"><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
    </main>
</div>
</body>
</html>