<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<main class="login-container">
    <header class="login-heading">Light 3</header>
    <form class="login-box">
        <label class="login-label">Имя устройства</label>
        <label>
            <input class="login-input" type="text"/>
        </label>
        <button class="login-submit" type="submit">Подключиться</button>
    </form>
</main>
</body>
</html>